@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


/* Optional: Your custom styles */
@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
html {
  scroll-behavior: smooth;
}
